# Pandas

http://pandas.pydata.org/

Open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Excerpt of Pandas' features:

- A set of labeled array data structures, the primary of which are Series and DataFrame
- Index objects enabling both simple axis indexing and multi-level / hierarchical axis indexing
- An integrated group by engine for aggregating and transforming data sets
- **Input/Output tools: loading tabular data from flat files (CSV, delimited, Excel 2003), and saving and loading pandas objects from the fast and efficient PyTables/HDF5 format.**
- ...

So internally, *pandas* uses *PyTables* for storing data in HDF5.

http://pandas.pydata.org/pandas-docs/stable/io.html#hdf5-pytables

In [54]:
import pandas_datareader.data as web
import datetime

In [55]:
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2013, 1, 27)

In [56]:
df = web.DataReader("F", 'yahoo', start, end)

In [57]:
df.head()

             Open   High    Low  Close     Volume  Adj Close
Date
2010-01-04  10.17  10.28  10.05  10.28   60855800   8.418735
2010-01-05  10.45  11.24  10.40  10.96  215620200   8.975616
2010-01-06  11.21  11.46  11.13  11.37  200070600   9.311383
2010-01-07  11.46  11.69  11.32  11.66  130201700   9.548876
2010-01-08  11.67  11.74  11.46  11.69  130463000   9.573444

In [58]:
import pandas as pd

In [59]:
store = pd.HDFStore('example-pandas.h5', 'a')

In [60]:
store['yahoo'] = df

Natural naming is supported:

In [63]:
store.yahoo

             Open   High    Low  Close     Volume  Adj Close
Date
2010-01-04  10.17  10.28  10.05  10.28   60855800   8.418735
2010-01-05  10.45  11.24  10.40  10.96  215620200   8.975616
2010-01-06  11.21  11.46  11.13  11.37  200070600   9.311383
2010-01-07  11.46  11.69  11.32  11.66  130201700   9.548876
2010-01-08  11.67  11.74  11.46  11.69  130463000   9.573444
2010-01-11  11.90  12.14  11.78  12.11  170626200   9.917400
2010-01-12  11.98  12.03  11.72  11.87  162995900   9.720854
2010-01-13  11.91  11.93  11.47  11.68  154527100   9.565255
2010-01-14  11.65  11.86  11.51  11.76  116531200   9.630771
2010-01-15  11.74  11.76  11.55  11.60   96149800   9.499740
2010-01-19  11.51  11.83  11.46  11.75   65934000   9.622581
2010-01-20  11.68  11.69  11.50  11.51   71649500   9.426035
2010-01-21  11.53  11.62  11.01  11.18  121451400   9.155784
2010-01-22  11.01  11.12  10.41  10.52  161530100   8.615282
2010-01-25  10.73  11.10  10.61  11.03  121621500   9.032942
2010-01-26  11.17  11.46  11.07  11.19  108250500   9.163973
2010-01-27  11.57  11.62  11.22  11.55  105091600   9.458793
2010-01-28  11.90  11.95  11.27  11.41  203320000   9.344140
2010-01-29  11.60  11.61  10.70  10.84  159741200   8.877343
2010-02-01  11.14  11.18  10.93  11.12   82748200   9.106647
2010-02-02  11.26  11.52  11.19  11.39  119714900   9.327762
2010-02-03  11.49  11.66  11.42  11.64   90125500   9.532498
2010-02-04  11.49  11.53  11.00  11.06  129792200   9.057511
2010-02-05  10.97  11.11  10.49  10.91  181535200   8.934669
2010-02-08  11.09  11.32  10.88  10.97   92031400   8.983806
2010-02-09  11.18  11.22  11.02  11.15   83207100   9.131215
2010-02-10  11.12  11.14  10.90  10.94   73395600   8.959237
2010-02-11  11.00  11.19  10.88  11.18   65116200   9.155784
2010-02-12  10.92  11.18  10.85  11.12   69465400   9.106647
2010-02-16  11.21  11.38  11.11  11.32   62537500   9.270435
...           ...    ...    ...    ...        ...        ...
2012-12-12  11.52  11.56  11.43  11.47   31099900   9.568676
2012-12-13  11.46  11.50  11.21  11.27   35443200   9.401829
2012-12-14  11.27  11.27  11.03  11.10   36933500   9.260009
2012-12-17  11.16  11.41  11.14  11.39   46983300   9.501937
2012-12-18  11.48  11.68  11.40  11.67   61810400   9.735523
2012-12-19  11.79  11.85  11.62  11.73   54884700   9.785576
2012-12-20  11.74  11.80  11.58  11.77   47750100   9.818946
2012-12-21  11.55  11.86  11.47  11.86   94489300   9.894027
2012-12-24  11.67  12.40  11.67  12.40   91734900  10.344514
2012-12-26  12.31  12.79  12.31  12.79  140331900  10.669866
2012-12-27  12.79  12.81  12.36  12.76  108315100  10.644839
2012-12-28  12.55  12.88  12.52  12.87   95668600  10.736605
2012-12-31  12.88  13.08  12.76  12.95  106908900  10.803343
2013-01-02  13.23  13.28  13.00  13.20   75274700  11.011902
2013-01-03  13.24  13.70  13.05  13.46  121284700  11.228803
2013-01-04  13.51  13.61  13.35  13.57   54669900  11.320569
2013-01-07  13.52  13.58  13.35  13.43   43482400  11.203776
2013-01-08  13.38  13.43  13.20  13.35   46336200  11.137038
2013-01-09  13.40  13.60  13.39  13.47   36973900  11.237146
2013-01-10  13.78  13.94  13.68  13.83   84884300  11.537470
2013-01-11  14.00  14.07  13.90  14.00   67641200  11.679290
2013-01-14  14.04  14.08  13.86  13.99   46224800  11.670948
2013-01-15  13.91  14.30  13.89  14.30   55425000  11.929561
2013-01-16  14.16  14.25  14.01  14.22   51453400  11.862822
2013-01-17  14.27  14.30  14.07  14.22   44299300  11.862822
2013-01-18  14.10  14.13  13.97  14.11   45716100  11.771056
2013-01-22  14.06  14.19  14.00  14.17   35467900  11.821110
2013-01-23  14.00  14.02  13.79  13.88   58122200  11.579182
2013-01-24  13.82  13.98  13.81  13.87   42532700  11.570840
2013-01-25  13.83  13.84  13.64  13.68   53405400  11.412335

[771 rows x 6 columns]

Access to more PyTable-like view:

In [64]:
store.root.yahoo

/yahoo (Group) ''
  children := ['axis0' (Array), 'axis1' (Array), 'block0_values' (Array), 'block0_items' (Array), 'block1_values' (Array), 'block1_items' (Array)]

In [65]:
store.root.yahoo._v_attrs

/yahoo._v_attrs (AttributeSet), 12 attributes:
   [CLASS := 'GROUP',
    TITLE := '',
    VERSION := '1.0',
    axis0_variety := 'regular',
    axis1_variety := 'regular',
    block0_items_variety := 'regular',
    block1_items_variety := 'regular',
    encoding := 'UTF-8',
    nblocks := 2,
    ndim := 2,
    pandas_type := 'frame',
    pandas_version := '0.15.2']

Pandas introduces own attributes in order to provide interface to `pandas.Series`, `pandas.DataFrame`, ..

In [44]:
store.close()

See HDFView, it's a customized format on top of HDF5.
This format also supports indexed search..

Shortcut for storing data from a dataframe:

In [67]:
df.to_hdf("example-pandas-shortcut.h5", 'table', append=True)

Shortcut for reading:

In [78]:
df = pd.read_hdf("example-pandas-shortcut.h5", "table")

# Indexed search

In [45]:
store = pd.HDFStore('example-pandas.h5', 'a')

No index yet! And it's in "fixed format", so no queries possible:

In [46]:
store.select("yahoo", "Open>10 & Open<11")

TypeError: cannot pass a where specification when reading from a Fixed format store. this store must be selected in its entirety

In [47]:
store.append('yahoo_tableformat', df)

Show in HDFView, different format!

In [48]:
store.append('yahoo_indexed', df, data_columns=['Open', 'Close'])

In [49]:
store.flush()

In [50]:
store.select("yahoo_indexed", "index<=Timestamp('2011-01-01') & Open>10 & Open<11")

             Open   High    Low  Close     Volume  Adj Close
Date
2010-01-04  10.17  10.28  10.05  10.28   60855800   8.418735
2010-01-05  10.45  11.24  10.40  10.96  215620200   8.975616
2010-01-25  10.73  11.10  10.61  11.03  121621500   9.032942
2010-02-05  10.97  11.11  10.49  10.91  181535200   8.934669
2010-02-12  10.92  11.18  10.85  11.12   69465400   9.106647
2010-05-21  10.25  11.30  10.17  11.26  174455100   9.221299
2010-05-25  10.47  11.05  10.42  11.02  137858600   9.024753
2010-06-24  10.99  11.03  10.64  10.78   74449200   8.828206
2010-06-25  10.75  10.77  10.42  10.75  148168400   8.803638
2010-06-28  10.72  10.76  10.43  10.43   57994700   8.541577
2010-06-29  10.12  10.14   9.75   9.88  124866100   8.091158
2010-06-30  10.10  10.52  10.04  10.08  182831300   8.254946
2010-07-01  10.23  10.63  10.02  10.57  153383000   8.656228
2010-07-02  10.58  10.63  10.15  10.28   71607100   8.418735
2010-07-06  10.42  10.57  10.04  10.16   81246900   8.320462
2010-07-07  10.21  10.63  10.17  10.59   72565300   8.672607
2010-07-08  10.72  10.83  10.45  10.62   62355500   8.697175
2010-07-09  10.58  10.94  10.54  10.85   50732700   8.885533
2010-07-12  10.84  11.13  10.83  11.10   56354100   9.090269
2010-01-04  10.17  10.28  10.05  10.28   60855800   8.418735
2010-01-05  10.45  11.24  10.40  10.96  215620200   8.975616
2010-01-25  10.73  11.10  10.61  11.03  121621500   9.032942
2010-02-05  10.97  11.11  10.49  10.91  181535200   8.934669
2010-02-12  10.92  11.18  10.85  11.12   69465400   9.106647
2010-05-21  10.25  11.30  10.17  11.26  174455100   9.221299
2010-05-25  10.47  11.05  10.42  11.02  137858600   9.024753
2010-06-24  10.99  11.03  10.64  10.78   74449200   8.828206
2010-06-25  10.75  10.77  10.42  10.75  148168400   8.803638
2010-06-28  10.72  10.76  10.43  10.43   57994700   8.541577
2010-06-29  10.12  10.14   9.75   9.88  124866100   8.091158
2010-06-30  10.10  10.52  10.04  10.08  182831300   8.254946
2010-07-01  10.23  10.63  10.02  10.57  153383000   8.656228
2010-07-02  10.58  10.63  10.15  10.28   71607100   8.418735
2010-07-06  10.42  10.57  10.04  10.16   81246900   8.320462
2010-07-07  10.21  10.63  10.17  10.59   72565300   8.672607
2010-07-08  10.72  10.83  10.45  10.62   62355500   8.697175
2010-07-09  10.58  10.94  10.54  10.85   50732700   8.885533
2010-07-12  10.84  11.13  10.83  11.10   56354100   9.090269

Now also "Open" and "Close" are indexed!

# Storing own meta data

In [68]:
storer = store.get_storer('yahoo')

Attributes are stored by *pickle* so many Python objects are possible:

In [69]:
storer.attrs.my_attribute = dict(A = 10)

In [71]:
store.close()

In [73]:
store = pd.HDFStore("example-pandas.h5")

In [76]:
store.get_storer("yahoo").attrs.my_attribute

{'A': 10}

In [81]:
store.close()

Show stored object in hdfview!
Own format on top of HDF5 using pytables.

# Conclusion

Only a subset HDF5 features usable but quite easy to use with pandas including indexed search on disk.

For more than two-dimensions, *xarray* is worth a look.

In [80]:
df.to_xarray()

<xarray.Dataset>
Dimensions:    (Date: 1542)
Coordinates:
  * Date       (Date) datetime64[ns] 2010-01-04 2010-01-05 2010-01-06 ...
Data variables:
    Open       (Date) float64 10.17 10.45 11.21 11.46 11.67 11.9 11.98 11.91 ...
    High       (Date) float64 10.28 11.24 11.46 11.69 11.74 12.14 12.03 ...
    Low        (Date) float64 10.05 10.4 11.13 11.32 11.46 11.78 11.72 11.47 ...
    Close      (Date) float64 10.28 10.96 11.37 11.66 11.69 12.11 11.87 ...
    Volume     (Date) int64 60855800 215620200 200070600 130201700 130463000 ...
    Adj Close  (Date) float64 8.419 8.976 9.311 9.549 9.573 9.917 9.721 ...